<section class="services">
    <h1>Our Services</h1>
    <div class="card-container">
      <div class="card" routerLink="/usersnavbar">
        <img src="../../../assets/user.jpg" alt="booking Logo">
        <p>User Service</p>
        <h4>Click here to do UserRelated Operations!!!</h4>
      </div>
      <div class="card" routerLink="/ratingsnavbar">
        <img src="../../../assets/ratee.jpg" alt="map Logo">
        <p>Rating Service</p>
        <h4>Click here to do Ratings Related Operations!!!</h4>
      </div>
      <div class="card" routerLink="/hotelsnavbar">
        <img src="../../../assets/hotels.jpg" alt="rating Logo">
        <p>Hotel Service</p>
        <h4>Click here to do Hotel Related Operations!!!</h4>
      </div>
    </div>
  </section>