<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/create-hotels"><b><button>Add Hotel</button> </b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/list-hotels"><b><button>List Hotels</button></b></a>
        </li>
    </ul>
</nav>
<div class="container" style="text-align: center; margin-top: 80px;">
    <img src="../../../assets/hotels.jpg" alt="rating Logo">
    <h1 style="color: turquoise;">WELCOME TO HOTEL SERVICE</h1>
</div>